In [1]:
#Import Libraries
import pandas as pd
import load_data
from sklearn.model_selection import train_test_split

In [2]:
#Load Data
mypath = "../data/"
mydata = load_data.get_file_names(mypath)
df = load_data.load_copy_data(mydata, mypath)
df.keys()

file name: train_month_1
file name: train_month_2
file name: test_month_1
file name: test_month_3
file name: test_month_2
file name: train_month_3_with_target

dict_keys(['train_month_1', 'train_month_2', 'test_month_1', 'test_month_3', 'test_month_2', 'train_month_3_with_target'])

In [3]:
#Check dimension of data
print(f"We have {df['train_month_1'].shape[0]} rows and {df['train_month_1'].shape[1]} columns in our month 1 training dataset.")
print(f"We have {df['train_month_2'].shape[0]} rows and {df['train_month_2'].shape[1]} columns in our month 2 training dataset.")
print(f"We have {df['train_month_3_with_target'].shape[0]} rows and {df['train_month_3_with_target'].shape[1]} columns in month 3 training dataset.")

We have 63697 rows and 39 columns in our month 1 training dataset.
We have 63697 rows and 39 columns in our month 2 training dataset.
We have 63697 rows and 40 columns in month 3 training dataset.

In [4]:
#Look for duplicated rows
print(f"We have {df['train_month_1'].duplicated().sum()} duplicated rows in our month 1 training dataset.")
print(f"We have {df['train_month_2'].duplicated().sum()} duplicated rows in our month 2 training dataset.")
print(f"We have {df['train_month_3_with_target'].duplicated().sum()} duplicated rows in our month 3 training dataset.")

We have 0 duplicated rows in our month 1 training dataset.
We have 0 duplicated rows in our month 2 training dataset.
We have 0 duplicated rows in our month 3 training dataset.

In [5]:
df['train_month_1'].head()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship
0,910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
3,26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
4,c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [6]:
#Merge data (should be 39+38+39 columns = 118?, rows = 63697) with client_id as key
df_merge = df['train_month_1'].merge(df['train_month_2'], on=['client_id'], how='outer')
df_merge_2 = df_merge.merge(df['train_month_3_with_target'], on=['client_id'], how='outer')

print(f"Shape of dataframe: {df_merge_2.shape}")

#df_merge_2.columns[45]

Shape of dataframe: (63697, 116)

In [7]:
#Export merged data
df_merge_2.to_csv(mypath + 'data_merged.csv', encoding='utf-8', index=False)