In [1]:
import pandas as pd
import numpy as np
import load_data
from sklearn.model_selection import train_test_split
from ipynb.fs.full.Get_Base_Data_00 import Time

pd.set_option('display.max_rows', 999)
pd.set_option('display.max_columns', 999)

In [2]:
#Load Data
mypath = "../data/team_data/data/"
mydata = load_data.get_file_names(mypath)
df = load_data.load_copy_data(mydata, mypath)

file name: X_train_RAW
file name: X_train_R
file name: y_val_R
file name: y_val_RAW
file name: train_month_1
file name: train_month_2
file name: X_val_R
file name: df_full_train
file name: X_val_RAW
file name: y_train_R
file name: df_full_test
file name: test_month_1
file name: test_month_3
file name: test_month_2
file name: y_train_RAW
file name: train_month_3_with_target

In [15]:
mig_train = df['df_full_train'].copy()
mig_test = df['df_full_test'].copy()

In [16]:
print(f'Dimension of train data to merge: {mig_train.shape}')
print(f'Dimension of test data to merge: {mig_test.shape}')

Dimension of train data to merge: (50957, 109)
Dimension of test data to merge: (12740, 107)

In [17]:
ru_train = df['X_train_R'].copy()
ru_test = df['X_val_R'].copy()

In [18]:
# Number of rows should match
print(f'Dimension of train data to merge: {ru_train.shape}')
print(f'Dimension of test data to merge: {ru_test.shape}')

Dimension of train data to merge: (50957, 121)
Dimension of test data to merge: (12740, 121)

In [19]:
mig_test.head()

,Unnamed: 0,target,client_id,homebanking_active_m1,has_homebanking_m1,has_insurance_21_m1,has_insurance_23_m1,has_life_insurance_fixed_cap_m1,has_life_insurance_decreasing_cap_m1,has_fire_car_other_insurance_m1,has_personal_loan_m1,has_mortgage_loan_m1,has_current_account_m1,has_pension_saving_m1,has_savings_account_m1,has_savings_account_starter_m1,has_current_account_starter_m1,bal_insurance_21_m1,bal_insurance_23_m1,cap_life_insurance_fixed_cap_m1,cap_life_insurance_decreasing_cap_m1,prem_fire_car_other_insurance_m1,bal_personal_loan_m1,bal_mortgage_loan_m1,bal_current_account_m1,bal_pension_saving_m1,bal_savings_account_m1,bal_savings_account_starter_m1,bal_current_account_starter_m1,visits_distinct_so_m1,visits_distinct_so_areas_m1,customer_since_all_m1,customer_since_bank_m1,customer_gender_m1,customer_birth_date_m1,customer_postal_code_m1,customer_occupation_code_m1,customer_self_employed_m1,customer_children_m1,customer_relationship_m1,homebanking_active_m2,has_homebanking_m2,has_insurance_21_m2,has_insurance_23_m2,has_life_insurance_fixed_cap_m2,has_life_insurance_decreasing_cap_m2,has_fire_car_other_insurance_m2,has_personal_loan_m2,has_mortgage_loan_m2,has_current_account_m2,has_pension_saving_m2,has_savings_account_m2,has_current_account_starter_m2,bal_insurance_21_m2,bal_insurance_23_m2,cap_life_insurance_fixed_cap_m2,cap_life_insurance_decreasing_cap_m2,prem_fire_car_other_insurance_m2,bal_personal_loan_m2,bal_mortgage_loan_m2,bal_current_account_m2,bal_pension_saving_m2,bal_savings_account_m2,bal_savings_account_starter_m2,bal_current_account_starter_m2,visits_distinct_so_m2,visits_distinct_so_areas_m2,customer_self_employed_m2,customer_children_m2,customer_relationship_m2,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,has_current_account,has_pension_saving,has_savings_account,has_savings_account_starter,has_current_account_starter,bal_insurance_21,bal_insurance_23,cap_life_insurance_fixed_cap,cap_life_insurance_decreasing_cap,prem_fire_car_other_insurance,bal_personal_loan,bal_mortgage_loan,bal_current_account,bal_pension_saving,bal_savings_account,bal_savings_account_starter,bal_current_account_starter,visits_distinct_so,visits_distinct_so_areas,customer_self_employed,customer_children,customer_relationship,CODPOSS,COMMUNE,LAT,LONG,fit_spatial,Spatialclusters
0,1,0,5a69d35f52c1b944ea938723ef5d8ab8,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0,0,0.0,0,0,14830,0,0,1,1,2009-12,2009-12,2,1959-04,8900,9.0,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,0,0,0.0,0,0,14830,0,0,1,1,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0,0,0.0,0,0,14830,0,0,1,1,0,NaN,NaN,8900,IEPER,50.85,2.883333,-0.181607,"[-0.23,-0.074)"
1,2,0,b89cef910c72af5dc3ea44fccac6d976,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0.0,0,0,18550.0,9540,0,0,0,0,1,1,2001-01,2001-01,1,1967-02,2610,9.0,0,adolescent,couple,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0.0,0,0,18370.0,10380,0,0,0,0,1,1,0,adolescent,couple,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0.0,0,0,18190.0,10350,0,0,0,0,1,1,0,adolescent,couple,2610,NaN,NaN,NaN,0.003099,"[-0.074,0.08)"
2,3,0,c4044a6fbd0d7f4998ac12ea0abaf072,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0,0,0.0,0,0,10340,0,0,1,1,2013-11,2013-11,2,1954-04,6200,9.0,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,0,0,0.0,0,0,10340,0,0,1,1,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0,0,0.0,0,0,10340,0,0,1,1,0,NaN,NaN,6200,CHATELET,50.40,4.516667,0.284887,"[0.24,0.42]"
3,4,0,b798a4df52ad7d1d550ae0dc6089f134,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0.0,800,0,0.0,0,0,37490,0,0,1,1,1996-12,1999-09,1,1938-10,3590,9.0,0,no,couple,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0.0,800,0,0.0,0,0,37490,0,0,1,1,0,no,couple,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0.0,800,0,0.0,0,0,37490,0,0,1,1,0,no,couple,3590,DIEPENBEEK,50.90,5.416667,0.083249,"[0.08,0.24)"
4,5,0,ffb93657600876adef088c352dfc23be,1,1,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0.0,1360,0,36590.0,2730,34040,30060,0,0,2,1,1992-06,1992-06,2,1964-01,5000,9.0,0,NaN,NaN,1,1,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0.0,1420,0,36210.0,3760,34330,25060,0,0,2,1,0,NaN,NaN,1,1,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0.0,1420,0,35820.0,1950,34700,23060,0,0,2,1,0,NaN,NaN,5000,NAMUR,50.45,4.850000,0.303357,"[0.24,0.42]"

In [20]:
ru_train.head()

,client_id,homebanking_active_m1,has_homebanking_m1,has_insurance_21_m1,has_insurance_23_m1,has_life_insurance_fixed_cap_m1,has_life_insurance_decreasing_cap_m1,has_fire_car_other_insurance_m1,has_personal_loan_m1,has_mortgage_loan_m1,has_current_account_m1,has_pension_saving_m1,has_savings_account_m1,has_savings_account_starter_m1,has_current_account_starter_m1,bal_insurance_21_m1,bal_insurance_23_m1,cap_life_insurance_fixed_cap_m1,cap_life_insurance_decreasing_cap_m1,prem_fire_car_other_insurance_m1,bal_personal_loan_m1,bal_mortgage_loan_m1,bal_current_account_m1,bal_pension_saving_m1,bal_savings_account_m1,bal_savings_account_starter_m1,bal_current_account_starter_m1,visits_distinct_so_m1,visits_distinct_so_areas_m1,customer_since_all_m1,customer_since_bank_m1,customer_gender_m1,customer_birth_date_m1,customer_postal_code_m1,customer_occupation_code_m1,customer_self_employed_m1,customer_children_m1,customer_relationship_m1,homebanking_active_m2,has_homebanking_m2,has_insurance_21_m2,has_insurance_23_m2,has_life_insurance_fixed_cap_m2,has_life_insurance_decreasing_cap_m2,has_fire_car_other_insurance_m2,has_personal_loan_m2,has_mortgage_loan_m2,has_current_account_m2,has_pension_saving_m2,has_savings_account_m2,has_current_account_starter_m2,bal_insurance_21_m2,bal_insurance_23_m2,cap_life_insurance_fixed_cap_m2,cap_life_insurance_decreasing_cap_m2,prem_fire_car_other_insurance_m2,bal_personal_loan_m2,bal_mortgage_loan_m2,bal_current_account_m2,bal_pension_saving_m2,bal_savings_account_m2,bal_savings_account_starter_m2,bal_current_account_starter_m2,visits_distinct_so_m2,visits_distinct_so_areas_m2,customer_self_employed_m2,customer_children_m2,customer_relationship_m2,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,has_current_account,has_pension_saving,has_savings_account,has_savings_account_starter,has_current_account_starter,bal_insurance_21,bal_insurance_23,cap_life_insurance_fixed_cap,cap_life_insurance_decreasing_cap,prem_fire_car_other_insurance,bal_personal_loan,bal_mortgage_loan,bal_current_account,bal_pension_saving,bal_savings_account,bal_savings_account_starter,bal_current_account_starter,visits_distinct_so,visits_distinct_so_areas,customer_self_employed,customer_children,customer_relationship,area_cat,bal_insurance_21_1,bal_insurance_21_2,bal_insurance_21_3,bal_insurance_23_1,bal_insurance_23_2,bal_insurance_23_3,bal_personal_loan_1,bal_personal_loan_2,bal_personal_loan_3,bal_mortgage_loan_1,bal_mortgage_loan_2,bal_mortgage_loan_3,bal_current_account_1,bal_current_account_2,bal_current_account_3,bal_pension_saving_1,bal_pension_saving_2,bal_pension_saving_3,bal_savings_account_1,bal_savings_account_2,bal_savings_account_3
0,e5b6c98384d572c48a395e14d51fea32,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,37.0,37.0,1,76,4100,9.0,0,no,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,0,no,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,0,no,couple,4000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,dac57bbe7aceea320ecb282fbb3053d1,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,1810,8340,0,2800,0,15680,0,0,2.0,2.0,24.0,24.0,2,67,6250,9.0,1,no,NaN,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,1810,8090,0,3550,0,17960,0,0,2.0,2.0,1,no,NaN,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,1810,7840,0,3520,0,15510,0,0,2.0,2.0,1,NaN,single,6000_area_code,0,0,0,0,0,0,-250,-250,-500,0,0,0,750,-30,720,0,0,0,2280,-2450,-170
2,e67d98937e84678ccc4b3fe2583ce4c5,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,220,0,0,2540,0,15280,0,0,1.0,1.0,26.0,9.0,1,66,6230,NaN,0,no,couple,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,220,0,0,1670,0,15280,0,0,1.0,1.0,0,no,couple,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,220,0,0,2490,0,12280,0,0,1.0,1.0,0,no,couple,6000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,-870,820,-50,0,0,0,0,-3000,-3000
3,37a21e2841f17eb2c293209dd1c93651,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,21.0,21.0,2,50,2275,9.0,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,0,mature,couple,2000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,9059dda2fb582e4f804d98eb4c4e1a5d,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,90,2580,0,2520,4840,10190,0,0,2.0,1.0,37.0,37.0,1,58,4701,9.0,0,grownup,couple,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,90,2440,0,2930,4880,9780,0,0,2.0,1.0,0,grownup,couple,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,90,2300,0,2390,4930,10000,0,0,2.0,1.0,0,no,couple,4000_area_code,0,0,0,0,0,0,-140,-140,-280,0,0,0,410,-540,-130,40,50,90,-410,220,-190

In [21]:
# Add Columns to ru_ datasets
ru_train["Spatialclusters"] = mig_train["Spatialclusters"]
ru_train["target"] = mig_train["target"]

ru_test["Spatialclusters"] = mig_test["Spatialclusters"]
ru_test["target"] = mig_test["target"]

In [22]:
# Number of rows should match be 121 + 2 = 123
print(f'Dimension of train data to merge: {ru_train.shape}')
print(f'Dimension of test data to merge: {ru_test.shape}')

Dimension of train data to merge: (50957, 123)
Dimension of test data to merge: (12740, 123)

In [23]:
ru_train.head()

,client_id,homebanking_active_m1,has_homebanking_m1,has_insurance_21_m1,has_insurance_23_m1,has_life_insurance_fixed_cap_m1,has_life_insurance_decreasing_cap_m1,has_fire_car_other_insurance_m1,has_personal_loan_m1,has_mortgage_loan_m1,has_current_account_m1,has_pension_saving_m1,has_savings_account_m1,has_savings_account_starter_m1,has_current_account_starter_m1,bal_insurance_21_m1,bal_insurance_23_m1,cap_life_insurance_fixed_cap_m1,cap_life_insurance_decreasing_cap_m1,prem_fire_car_other_insurance_m1,bal_personal_loan_m1,bal_mortgage_loan_m1,bal_current_account_m1,bal_pension_saving_m1,bal_savings_account_m1,bal_savings_account_starter_m1,bal_current_account_starter_m1,visits_distinct_so_m1,visits_distinct_so_areas_m1,customer_since_all_m1,customer_since_bank_m1,customer_gender_m1,customer_birth_date_m1,customer_postal_code_m1,customer_occupation_code_m1,customer_self_employed_m1,customer_children_m1,customer_relationship_m1,homebanking_active_m2,has_homebanking_m2,has_insurance_21_m2,has_insurance_23_m2,has_life_insurance_fixed_cap_m2,has_life_insurance_decreasing_cap_m2,has_fire_car_other_insurance_m2,has_personal_loan_m2,has_mortgage_loan_m2,has_current_account_m2,has_pension_saving_m2,has_savings_account_m2,has_current_account_starter_m2,bal_insurance_21_m2,bal_insurance_23_m2,cap_life_insurance_fixed_cap_m2,cap_life_insurance_decreasing_cap_m2,prem_fire_car_other_insurance_m2,bal_personal_loan_m2,bal_mortgage_loan_m2,bal_current_account_m2,bal_pension_saving_m2,bal_savings_account_m2,bal_savings_account_starter_m2,bal_current_account_starter_m2,visits_distinct_so_m2,visits_distinct_so_areas_m2,customer_self_employed_m2,customer_children_m2,customer_relationship_m2,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,has_current_account,has_pension_saving,has_savings_account,has_savings_account_starter,has_current_account_starter,bal_insurance_21,bal_insurance_23,cap_life_insurance_fixed_cap,cap_life_insurance_decreasing_cap,prem_fire_car_other_insurance,bal_personal_loan,bal_mortgage_loan,bal_current_account,bal_pension_saving,bal_savings_account,bal_savings_account_starter,bal_current_account_starter,visits_distinct_so,visits_distinct_so_areas,customer_self_employed,customer_children,customer_relationship,area_cat,bal_insurance_21_1,bal_insurance_21_2,bal_insurance_21_3,bal_insurance_23_1,bal_insurance_23_2,bal_insurance_23_3,bal_personal_loan_1,bal_personal_loan_2,bal_personal_loan_3,bal_mortgage_loan_1,bal_mortgage_loan_2,bal_mortgage_loan_3,bal_current_account_1,bal_current_account_2,bal_current_account_3,bal_pension_saving_1,bal_pension_saving_2,bal_pension_saving_3,bal_savings_account_1,bal_savings_account_2,bal_savings_account_3,Spatialclusters,target
0,e5b6c98384d572c48a395e14d51fea32,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,37.0,37.0,1,76,4100,9.0,0,no,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,0,no,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20250,0,0,2.0,2.0,0,no,couple,4000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[0.08,0.24)",0
1,dac57bbe7aceea320ecb282fbb3053d1,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,1810,8340,0,2800,0,15680,0,0,2.0,2.0,24.0,24.0,2,67,6250,9.0,1,no,NaN,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,1810,8090,0,3550,0,17960,0,0,2.0,2.0,1,no,NaN,0,1,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,1810,7840,0,3520,0,15510,0,0,2.0,2.0,1,NaN,single,6000_area_code,0,0,0,0,0,0,-250,-250,-500,0,0,0,750,-30,720,0,0,0,2280,-2450,-170,"[0.24,0.42]",0
2,e67d98937e84678ccc4b3fe2583ce4c5,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,220,0,0,2540,0,15280,0,0,1.0,1.0,26.0,9.0,1,66,6230,NaN,0,no,couple,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,220,0,0,1670,0,15280,0,0,1.0,1.0,0,no,couple,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,220,0,0,2490,0,12280,0,0,1.0,1.0,0,no,couple,6000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,-870,820,-50,0,0,0,0,-3000,-3000,"[0.24,0.42]",0
3,37a21e2841f17eb2c293209dd1c93651,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,21.0,21.0,2,50,2275,9.0,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,0,mature,couple,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5870,0,0,1.0,1.0,0,mature,couple,2000_area_code,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[-0.23,-0.074)",0
4,9059dda2fb582e4f804d98eb4c4e1a5d,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,90,2580,0,2520,4840,10190,0,0,2.0,1.0,37.0,37.0,1,58,4701,9.0,0,grownup,couple,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,90,2440,0,2930,4880,9780,0,0,2.0,1.0,0,grownup,couple,1,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,90,2300,0,2390,4930,10000,0,0,2.0,1.0,0,no,couple,4000_area_code,0,0,0,0,0,0,-140,-140,-280,0,0,0,410,-540,-130,40,50,90,-410,220,-190,"[0.08,0.24)",0

In [95]:
# Bin Age

# Bin Training dataset
# ru_train['customer_birth_date_m1']
df_mask = ru_train['customer_birth_date_m1'] < 100
filtered_train_df = ru_train[df_mask]
# filtered_train_df.head()
# filtered_train_d['customer_birth_date_m1'].unique()

# since lower bound is not included even when i set include_lowest=True, I will lower the lowerbound
binInterval = pd.IntervalIndex.from_tuples([(17,20), (20,26), (26,52), (52,73), (73,99)])
filtered_train_df['age_cat'] = pd.cut(filtered_train_df['customer_birth_date_m1'], bins = binInterval, include_lowest=True)
# filtered_train_df[['age_cat', 'customer_birth_date_m1']]

# Bin Test dataset
df_mask_test = ru_test['customer_birth_date_m1'] < 100
filtered_test_df = ru_test[df_mask_test]
filtered_test_df['age_cat'] = pd.cut(filtered_test_df['customer_birth_date_m1'], bins = binInterval, include_lowest=True)
filtered_test_df[['age_cat', 'customer_birth_date_m1']]

/var/folders/xc/tvrxkd8d2d71ksnxgn8wf9t40000gn/T/ipykernel_83903/2403808354.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_train_df['age_cat'] = pd.cut(filtered_train_df['customer_birth_date_m1'], bins = binInterval, include_lowest=True)
/var/folders/xc/tvrxkd8d2d71ksnxgn8wf9t40000gn/T/ipykernel_83903/2403808354.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df['age_cat'] = pd.cut(filtered_test_df['customer_birth_date_m1'], bins = binInterval, include_lowest=True)

        age_cat  customer_birth_date_m1
0      (52, 73]                      59
1      (26, 52]                      51
2      (52, 73]                      64
3      (73, 99]                      80
4      (52, 73]                      54
...         ...                     ...
12735  (26, 52]                      49
12736  (52, 73]                      66
12737  (26, 52]                      45
12738  (52, 73]                      71
12739  (26, 52]                      42

[12707 rows x 2 columns]

In [96]:
# Check if correct number of rows were removed
# There are 102 rows with age over 100 so 50957 - 102 = 50855 (above dataframe is of correct length)
over_100 = ru_train['customer_birth_date_m1'] > 100
len(ru_train[over_100])

102

In [97]:
# for test data 12740 - 27 = 12713
over_100 = ru_test['customer_birth_date_m1'] > 100
len(ru_test[over_100])

27

In [98]:
print(f'Dimension of train data to merge: {filtered_train_df.shape}')
print(f'Dimension of test data to merge: {filtered_test_df.shape}')

Dimension of train data to merge: (50843, 124)
Dimension of test data to merge: (12707, 124)

In [99]:
set(filtered_train_df['age_cat'])

{Interval(17, 20, closed='right'),
 Interval(20, 26, closed='right'),
 Interval(26, 52, closed='right'),
 Interval(52, 73, closed='right'),
 Interval(73, 99, closed='right')}

In [100]:
# filtered_test_df[filtered_test_df['age_cat'].isna()]

In [113]:
# mask = filtered_test_df['customer_birth_date_m1'] == 52
# check = filtered_test_df[mask]
# check[['age_cat', 'customer_birth_date_m1']]

In [ ]:
# # Impute missing values

# # numeric columns replace NAs with mean
# df_train[numeric_col] = df_train[numeric_col].fillna(df_train.mean())
# df_test[numeric_col] = df_test[numeric_col].fillna(df_test.mean())

# # categorical columns replace NAs with mode
# # data[categorical_col] = data[categorical_col].fillna(data[categorical_col].mode()[0])

In [ ]:
# # Oversample Undersample SmoteSample

# from collections import Counter
# from imblearn.over_sampling import SMOTE
# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.over_sampling import RandomOverSampler

# sm = SMOTE(sampling_strategy=0.8, random_state=42)
# X_res, y_res = sm.fit_resample(X, y)
# print('Resampled dataset shape %s' % Counter(y_res))

# ros = RandomOverSampler(sampling_strategy=0.8, random_state=42)
# X_res, y_res = ros.fit_resample(X, y)
# print('Resampled dataset shape %s' % Counter(y_res))

In [114]:
filtered_train_df['age_cat'] = filtered_train_df['age_cat'].astype(str)
filtered_test_df['age_cat'] = filtered_test_df['age_cat'].astype(str)

/var/folders/xc/tvrxkd8d2d71ksnxgn8wf9t40000gn/T/ipykernel_83903/3652733185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_train_df['age_cat'] = filtered_train_df['age_cat'].astype(str)

In [116]:
# Export Data
filtered_train_df.to_csv(mypath + 'train_full_R.csv', index = False)
filtered_test_df.to_csv(mypath + 'test_full_R.csv', index=False)

In [ ]:
# # Overall Preprocess of data
# 1. merge train_month_1, train_month_2, train_month_3_with_target by client_id
# 2. drop duplicated features
#     Dropped features: ['customer_education_m1', 'has_savings_account_starter_m2', 
#                        'customer_since_all_m2', 'customer_since_bank_m2', 
#                        'customer_gender_m2', 'customer_birth_date_m2', 
#                        'customer_postal_code_m2', 'customer_occupation_code_m2', 
#                        'customer_education_m2', 'customer_since_all', 'customer_since_bank', 
#                        'customer_gender', 'customer_birth_date', 'customer_postal_code', 
#                        'customer_occupation_code', 'customer_education']
# 3. Split data with 80% training, 20% validation
# 4. For training and validation individually,
#         1. Change dates to number of years.
#         2. Categorize area code by 1000s.
#         3. Get differences of balances between timepoints.
#         4. Add binning for Spatialclusters
#         5. Bin age
        
#         To Do:
#         6. Drop has-- columns?, etc.
#         7. Impute missing values
#         8. Apply sampling methods